databases:
  - name: digitsclick
    databaseName:digitsclick
    user: digitsclick

services:
  - type: web
    name: digitsclick
    runtime: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: digitsclick
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false