<section class="container mt-3">
  <div>
    <h1>New Comment</h1>
  </div>
  <%= form_with model: @comment, url: user_post_comments_path(user_id: @post.user.id, post_id: @post.id), class: "form", local: true do |form| %>
    <div class="mb-3">
      <label for="comment_text" class="form-label">Text</label>
      <!-- Use the correct field name for the comment text -->
      <textarea name="comment[text]" class="form-control" id="comment_text" rows="3" required></textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  <% end %>
</section>
